<section id="contact" class="container contact-section text-center parallax">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <h2>Contact</h2>
            <p>
                <a href="mailto:aldrin.abastillas@gmail.com">aldrin.abastillas@gmail.com</a>
            </p>
            <ul class="list-inline">
                <li>
                    <a href="https://github.com/aldrinabastillas" target="_blank" data-trigger="hover" data-toggle="tooltip" data-placement="bottom" title="Github Repos"><i class="fa fa-github fa-3x" aria-hidden="true"></i></a>
                </li>
                <li>
                    <a href="https://www.linkedin.com/in/aldrinabastillas" target="_blank" data-trigger="hover" data-toggle="tooltip" data-placement="bottom" title="Linkedin Profile"><i class="fa fa-linkedin-square fa-3x" aria-hidden="true"></i></a>
                </li>
                <li>
                    <a href="/resume" data-trigger="hover" data-toggle="tooltip" data-placement="bottom" title="Download Resume"><i class="fa fa-file-text fa-3x" aria-hidden="true"></i></a>
                </li>
                <li>
                    <a href="https://www.flickr.com/photos/aldrinabastillas/albums" target="_blank" data-trigger="hover" data-toggle="tooltip" data-placement="bottom" title="Flickr Photo Albums"><i class="fa fa-flickr fa-3x" aria-hidden="true"></i></a>
                </li>
            </ul>
        </div>
    </div>
</section>