<section id="projects" class="container projects-section text-center">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <h2>Projects</h2>
            <div id="billboardApp">
                <h3>Billboard Hot 100 Predictor</h3>
                <div class="projectThumb" id="billboardImage">
                    <div class="overlay">
                        <a href="/#!/Spotify">
                            <i class="fa fa-play-circle fa-4x" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>
                <br />
                <p>
                    Predict if a song would be on the Billboard Hot 100 chart! <br />
                    Built with ASP.NET MVC, Microsoft Azure Machine Learning Studio, <br />
                    Spotify Web APIs, AngularJS, Bootstrap, SemanticUI, <br />
                    Microsoft Azure, Amazon Web Services, and Redis.
                </p>
            </div>
            <br /><br />

            <div id="visualizerApp">
                <h3>Lorenz System Audio Visualizer</h3>
                <div class="projectThumb" id="visualizerGif">
                    <div class="overlay">
                        <a href="" type="button" data-toggle="modal" data-target="#myModal">
                            <i class="fa fa-play-circle fa-4x" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>
                <br />
                <p>
                    An audio visualizer based on the Lorenz System of equations. <br />
                    Built with Unity3D.
                </p>
                <br />
            </div>

            <!-- Visualizer Modal -->
            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <visualizer-modal></visualizer-modal>
            </div>

            <!-- Past Projects -->
            <h2>Past Projects</h2>
            <p>
                For the code to the projects above, as well as older ones, see
                <a href="https://github.com/aldrinabastillas" target="_blank">
                    Github <i class="fa fa-github" aria-hidden="true"></i> &nbsp;!
                </a>
            </p>
        </div>
    </div>
</section>